---
layout: page
title: "Contributors"
description: "The Autism Gradients project was a BrainHack collaboration from the following researchers"
---

{% for post in site.categories['contributors'] reversed %}
<div class="post-preview">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        
 {{ post.excerpt }}
    
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
