---
layout: page
description: "Autism Gradients - A BrainHack Global Project"
---
<h2>Autism gradients of hierarchical organization</h2>

<h4>Brainhack project on exploring the use of connectivity gradients to study cortical hierarchies in autism</h4>

{% include index_content.include %}

<hr>
<h3>If you want to keep up to date with the projects progress head to our updates page or you can see the latest update on the project below:</h3>

<div class="blog-index">  
  <p>
  {% assign post = site.categories['updates'].first %}
  {% assign content = post.content %}
  {% include post_detail_title.html %}
    </p>
</div> 
<hr>


